{% extends 'layout.html' %}
{% load static static %}

    {% block title %}Shop{% endblock %}

    {% block extra_head %}
        {{ block.super }}
        <link rel="stylesheet" href="{% static 'shop/shop.css' %}" />
    {% endblock %}

    {% block content %}
        <form action="", method="GET">
            <input type="text" name="q" value="{{ q }}" />
            <input type="submit" value="검색" />
        </form>
        <hr/>
        {% for item in item_list  %}
        <div>
            <a href="{% url 'shop:detail' item.id %}"><h3>{{ item.name }}</h3></a>
            <h4>가격 {{ item.price }}</h4>
            {% if item.description %}
                <p>{{ item.description }}</p>
            {% endif %}
        </div>
        {% endfor %}
    {% endblock %}

    {% block extra_body %}
        {{ block.super }}
    {% endblock %}


app:detail' blog.id





